*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100vh;
    width: 100vw;
}

#home{
    height: 100vh;
    width: 100vw;
    background-color:#F3A936;
    display: flex;
    justify-content: center;
    align-items: center;
}


#home #background-texture{
    height: 85vh;
    width: 96vw;
    background-color: #2F2F2F;
    margin-bottom: 2vw;
    border-radius: 15px;
}
nav{
    min-height: 12vh;
    width: 100%;
   
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav #nav-part2{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
#page1{
    
    height: calc(100% - 12vh);
    width: 100%;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;

}

#page1 #left-part{
  height: 100%;
    width: 50%;
    background-color: #f336a1;
    
}

#page1 #right-part{
    height: 100%;
   
    width: 50%;
    background-color: #36f375;
    
} 

#image-logo{
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    background-image: url("./WhatsApp\ Image\ 2025-05-21\ at\ 13.24.23_82bf9eba.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}